* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.help__modal {
  position: absolute;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  top: 0;
}

.help__controls {
  width: 600px;
  height: 600px;
  background: url(../src/img/interface/modal.png);
  background-size: cover;
}

.pixel {
  -ms-interpolation-mode: nearest-neighbor; /* IE 7+ (не стандартное свойство) */
  image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9 */
  image-rendering: -webkit-crisp-edges; /* Safari 7+ */
  image-rendering: -moz-crisp-edges; /* Firefox 3.6+ */
  image-rendering: -o-crisp-edges; /* Opera 12 */
  image-rendering: pixelated; /* Chrome 41+ and Opera 26+ */
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(178, 178, 178);
}

.cat {
  background: url(../src/img/sprite/cat-walk-Sheet.png) 0 0;
  background-size: cover;
  height: 120px;
  width: 198px;
  position: absolute;
  left: 0;
  bottom: 90px;
  z-index: 5;
}

.grass {
  background: url(../src/img/bg/grass.png) repeat-x;
  background-size: contain;
  min-height: 480px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
}

.zone {
  position: absolute;
  height: 120px;
  width: 198px;
}

.shadow {
  position: absolute;
  background: url(../src/img/bg/shadow-size-transporantt.png);
  background-size: cover;
  height: 36px;
  width: 198px;
  bottom: 80px;
}

.background {
  background: url(../src/img/bg/bgx3.png) no-repeat;
  background-size: center;
  height: 100%;
  width: 100%;
}

.weather {
  position: absolute;
  background: url(../src/img/bg/weather-box.png);
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.backdrop {
  backdrop-filter: blur(3px);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
}
.snow {
  height: 100vh;
  width: 10000px;
  position: relative;
  left: 0;
  z-index: 2;
}

.step {
  position: absolute;
  background: url(../src/img/bg/footprintsX6.png);
  background-size: cover;
  z-index: 1;
  height: 12px;
  width: 36px;
  bottom: 112px;
  transition: 3s;
  left: 0;
}
